@model SystemSales.Presentation.Models.SalesDataViewModel

@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/gridmvc-css")
}

<h2>View Sales</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="nav navbar-nav navbar-right">
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>

@{
    Html.RenderPartial("_SaleGrid", Model.SaleGrid);
}

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
    <script type="text/javascript">
        $(function () {
            var url = '@Url.Action("SaleGrid")';
            pageGrids.salesGrid.ajaxify({
                getPagedData: url,
                getData: url
            });
        });
    </script>
}
